.jumbotron4 {
    padding: 2rem 1rem;
    background-color: rgba(251, 192, 147, 0.8);
    border-radius: .3rem;
    position: relative;
    bottom: 40px;
}

.iterative-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20px;
    background-color: rgba(251, 192, 147, 0.8);
    padding: 8px;
    border-radius: 2rem;
    column-gap: 5px;
  }