.jumbotron5 {
    padding: 2rem 1rem;
    /* background-color: rgba(255, 253, 208, 0.8); */
    border-radius: .3rem;
    background-color: rgba(228, 60, 60, 0.6);
    position: relative;
    bottom: 60px;
  }

.code-card {
    width: 80%;
    height: 400px;
    overflow-y: scroll;
    padding: 2%;
}

.responsive-stats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
    background-color: rgba(228, 60, 60, 0.4);
    padding: 8px;
    border-radius: 2rem;
    column-gap: 5px;
}
